$fon-color: #343539;
$basic-black: #000000;
$basic-white: #FFFFFF;
$spec-red: #EF483E;
$gray: #CFCFCF;
$dark-gray: #4B4B4F;
$other-gray: #717174;
$box-shadow: rgba(0, 0, 0, 0.1);


$desktop-width: 760px;

